/.browserslistrc
/.ruby-version
/.bundle
/.vscode
/log/*
/tmp/*
/storage/*
/.circleci/*
/public/assets
/db/mysql
/public/packs
/config/master.key
/public/packs-test
/yarn-error.log
!/log/.keep
!/tmp/.keep
!/storage/.keep
vendor/bundle
node_modules
yarn-debug.log*
development.env
.byebug_history
.yarn-integrity
.DS_Store
