<div id="home">
  <div id="home-div">
    <div id="home-left">
      <p>LINEとDONEを使ってタスク管理を<br>よりシンプルに効率的に行います。</p>
      <%= link_to 'LINE ログイン', @url, id: 'line-login' %>
    </div>
    <%= image_tag 'Scene_Wireframe.jpg', id: "home-img" %>
  </div>
</div>