<div id="home">
  <div id="home-div">
    <div id="home-left">
      <p class="home-main-p">For those who need a <br> retrospective technique</p>
      <p class="home-sub-p">DONE is an application that supports <br> the retrospective technique.</p>
      <%= link_to 'LINE LOGIN', @url, id: 'line-login' %>
    </div>
    <%= image_tag 'Scene_Wireframe.jpg', id: "home-img" %>
  </div>
</div>