<div>
  <table>
    <tr>
      <th>Keep</th>
    </tr>
    <% keep.each do |kp| %>
      <tr>
        <td>
          <a href="/splints/<%=kp.id%>" class="splint-a"><%= react_component("HelloWorld", { greeting: kp.content }) %></a>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="new-link-div">
    <%= link_to '+', new_splint_path(sp_number: sp_number), id: 'new-link' %>
  </div>
</div>