<div>
  <table>
    <tr>
      <th>Try</th>
    </tr>
    <% try.each do |ty| %>
      <% if ty.sp_number == sp_number %>
        <tr>
          <td>
            <a href="/splints/<%=ty.id%>" class="splint-a"><%= react_component("HelloWorld", { greeting: ty.content }) %></a>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
  <div class="new-link-div"><%= link_to '+', new_splint_path(sp_number: sp_number, kpt: 'Try'), id: 'new-link' %></div>
</div>