<div id='sprint_dashboard'>
  <%= render :partial => 'sidemenu' %>
  <div id='sprint'>
    <div id='sprint_header'>
      <p><i class="fas fa-home"></i> Project Name</p>
      <div class='flexbox'>
        <p class='project-members-plus'>+</p>
        <%= image_tag session[:picture_url]+'/small', id: 'project-members' %>
        <p class='project-members-plus'>+1</p>
        <input type="text" placeholder=' &#xf002; Search Member' class='fas project-members-search' >
        <p class='project-members-setting'><i class='fas fa-cog'></i></p>
      </div>
    </div>
    <div>
      <p class="sprint-title">Export</p>
      <p>Coming Soon!!</p>
    </div>
  </div>
</div>
