<div id='sprint_dashboard'>
  <div id='sprint_left'>
    <ul>
      <li class='sprint-left-li-right'><i class='fas fa-bars sprint-left-li-right-i'></i></li>
      <li class='sprint-left-li'><a href='/splints'><i class='fas fa-plus'></i> Add KPT</li></a>
      <li class='sprint-left-li'><a href='/splints/analysis'><i class='fas fa-chart-bar'></i> Analysis</li></a>
      <li class='sprint-left-li'><a href='/splints/link'><i class='fas fa-link'></i> Link</li></a>
      <li class='sprint-left-li'><a href='/splints/export'><i class='fas fa-file-export'></i> Export</li></a>
      <li class='sprint-left-li'><a href='/splints/project_settings'><i class='fas fa-cog'></i> Project Settings</li></a>
    </ul>
  </div>
  <div id='sprint'>
    <div id='sprint_header'>
      <p><i class='fas fa-home'></i> Project Name</p>
      <div class='flexbox'>
        <p class='project-members-plus'>+</p>
        <%= image_tag session[:picture_url]+'/small', id: 'project-members' %>
        <p class='project-members-plus'>+1</p>
        <input type='text' placeholder=' &#xf002; Search Member' class='fas project-members-search' >
        <p class='project-members-setting'><i class='fas fa-cog'></i></p>
      </div>
    </div>
    <div>
      <p class='sprint-title'>Link</p>
      <form>
        <input type='text' placeholder='Name' name='tool_name' class='link' id='tool_name'>
        <input type='text' placeholder='Link' name='tool_link' class='link' id='tool_link'>
      </form>
      <div><button id='link_button' onclick='save_localstorage()'>Add</button></div>
      <ul id='link_list'>
      </ul>
    </div>
  </div>
</div>
<script>
  function save_localstorage() {
    var key = document.getElementById('tool_name').value;
    var value = document.getElementById('tool_link').value;
    if (key && value) {
      localStorage.setItem(key, value);
    }
  }
  for( var key in localStorage ){
    var value = localStorage.getItem(key);
    if (value) {
      var parent = document.getElementById('link_list');
      var li = document.createElement('li');
      var a_node = document.createElement('a');
      a_node.innerHTML = key;
      a_node.href = value;
      a_node.target = '_blank';
      parent.appendChild(li);
      li.appendChild(a_node);
    }
  }
</script>