<div id="show">
  <div id="show-content">
    <p id="detail">DETAIL</p>
    <p id="show-p"><%= @splint.content %></p>
    <div id="link-list">
      <%= link_to 'Edit', edit_splint_path(@splint.id), id: 'edit-link' %>
      <%= button_to 'Delete', splint_path(@splint.id), method: :delete, id: 'delete-link' %>
      <%= link_to 'Task List', splints_path, id: 'postlist-link' %>
    </div>
  </div>
</div>