

<div id="edit">
  <div id="edit-div">
    <div id="edit-content">
      <%= form_with model: @post, local: true do |form| %>
        <%= form.text_field :content %>
        <%= form.hidden_field :line_id, :value => session[:line_id] %>
        <%= form.submit '更新' %>
      <% end %>
    </div>
  </div>
</div>