<div id="show">
  <div id="show-content">
    <p id="detail">DETAIL</p>
    <p id="show-p"><%= @post.content %></p>
    <div id="link-list">
      <%= link_to 'Update', edit_post_path(@post.id), id: 'edit-link' %>
      <%= button_to 'Delete', post_path(@post.id), method: :delete, id: 'delete-link' %>
      <%= link_to 'Task List', posts_path, id: 'postlist-link' %>
    </div>
  </div>
</div>