/* 
*= require_tree .
*= require_self
*/

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size:62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

#flash-message {
  font-size: 1.5em;
  font-weight: 600;
  color: #ff6347;
  text-align: center;
}

#header {
  width: 100vw;
  height: 7vh;
  border-bottom: 1px solid #f5f5f5 ;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

#header a {
  text-decoration: none;
}

#header a:hover {
  color: #8e8eff;
}

#header p{
  padding-left: 5vw;
  color: #00a1e9;
  font-size: 2em;
  line-height: 7vh;
  font-weight: 600;
}

#header-right {
  margin-left: auto;
}

#header-img {
  height: 5vh;
  margin-top: 1vh;
  margin-right: 2vw;
  border-radius: 5em;
  cursor: pointer;
}

.header-link{
    position: fixed;
    top: 7vh;
    right: 0;
    -webkit-appearance: none;
    text-decoration: none;
    color: #696969;
    font-size: 1.6em;
    line-height: 7vh;
    font-weight: 100;
    padding-right: 2vw;
    border: 0;
    cursor: pointer;
    visibility: hidden;
}

.header-link:hover {
  color: #8e8eff;
}

#menu-bar {
  display: flex;
}

.menu-btn {
  line-height: 7vh;
  font-weight: 100;
  font-size: 1.7em;
  color: #AFB4BA;
  padding-left: 5vw;
}