/* 
*= require_tree .
*= require_self
*/

* {
    margin: 0px;
    padding: 0px;
  }

 body { font-size:62.5%; }

 #header {
    width: 100vw;
    height: 7vh;
    border-bottom: 1px solid #f5f5f5 ;
    display: flex;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    color: #8e8eff;
}

#header p{
    padding-left: 5vw;
    color: #00a1e9;
    font-size: 2em;
    line-height: 7vh;
    font-weight: 600;
}

#header-right {
    display: flex;
    margin-left: auto;
}

#header-right .header-link{
    color: #696969;
    font-size: 1.5em;
    line-height: 7vh;
    font-weight: 100;
    padding-right: 2vw;
}

#menu-bar {
    display: flex;
}

.menu-btn {
    line-height: 7vh;
    font-weight: 100;
    font-size: 1.7em;
    color: #AFB4BA;
    padding-left: 5vw;
}