/* 
*= require_tree .
*= require_self
*/

* {
    margin: 0px;
    padding: 0px;
  }

 body { font-size:62.5%; }

 #header {
    width: 100vw;
    height: 7vh;
    /* background: linear-gradient(-35deg, rgba(246, 255, 0, 0.8), rgba(255, 0, 161, 0.8)); */
    background-color: #00a1e9;
    position: fixed;
    display: flex;
}

#header a {
    text-decoration: none;
}

#header a:hover {
    text-decoration: underline;
    color: #ffffff;
}

#header p{
    padding-left: 5vw;
    color: #ffffff;
    font-size: 2em;
    line-height: 7vh;
    font-weight: 100;
}

#header-right {
    display: flex;
    margin-left: auto;
}

#header-right .header-link{
    color: #ffffff;
    font-size: 1.5em;
    line-height: 7vh;
    font-weight: 100;
    padding-right: 2vw;
}