#post {
    text-align: center;
    width: 100vw;
    #post-div {
        .new-link-div {
            margin-top: 2vh;
        }
        #new-link {
            font-weight: 100;
            text-decoration: none;
            font-size: 3em;
            color: #d3d3d3;
        }
        #new-link:hover {
            color: #8e8eff;
        }
        table{
            margin: auto;
            border-collapse: collapse;
            border-spacing: 0;
            width: 70vw;
        }
        table tr{
            border-bottom: solid 1px #eee;
            cursor: pointer;
        }
        table tr:hover{
            background-color: #d4f0fd;
        }
        table th{
            font-weight: 100;
            color: #414141;
            font-size: 1.8em;
        }
        table td{
            color: #414141;
            font-size: 1.5em;
            .post-a {
                text-decoration: none;
                div {
                    color: #414141;
                }
            }
        }
        table th,table td{
            text-align: center;
            width: 25vw;
            padding: 3vh 0;
        }
        padding-top: 10vh;
        #post-link {
            p {
                margin-top: 5vh;
                font-weight: 100;
                font-size: 3em;
                color: #414141;
                letter-spacing: 0.5em;
            }
            margin-bottom: 10vh;
        }
        p {
            margin-bottom: 3vh;
        }
    }
}

#new {
  text-align: center;
  width: 100vw;
  padding-top: 15vh;
  #new-content {
    #radio-btn{
      margin-top: 2vh;
      #high {
        margin: 1.5em;
        width: 1.5em;
        height: 1.5em;
      }
      .high {
        font-size: 1.5em;
      }
      #low {
        margin: 1.5em;
        width: 1.5em;
        height: 1.5em;
        border-radius: 0;
      }
      .low {
        font-size: 1.5em;
      }
    }
    #date-select {
      margin-top: 3vh;
    }
    #new-form {
      input[type='text']{
        width: 30vw;
        height: 4vh;
      }
      input[type='submit']{
        -webkit-appearance: none;
        font-size: 1.5em;
        color: #414141;
        text-decoration: none;
        padding: 0.2em 1.5em;
        border: solid 1px #414141;
        border-radius: 3px;
        margin: 2em 1em;
      }
      input[type='submit']:hover {
        background: #414141;
        color: white;
      }
      #submit {
        padding-top: 3vh;
      }
    }
  }
}

#show {
    width: 100vw;
    text-align: center;
    padding-top: 15vh;
    #show-content {
      #detail {
        font-weight: 100;
        font-size: 3em;
        color: #414141;
        letter-spacing: 0.5em;
      }
      #show-p {
        padding-top: 3vh;
        font-weight: 100;
        font-size: 2em;
        color: #414141;
      }
      #link-list {
          display: flex;
          justify-content: center;
          margin: 2em 0;
          #edit-link {
            font-size: 1.5em;
            color: #414141;
            text-decoration: none;
            padding: 0.2em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 0 1em;
          }
          #edit-link:hover {
            background: #414141;
            color: white;
          }
          #delete-link {
            -webkit-appearance: none;
            font-size: 1.5em;
            color: #414141;
            text-decoration: none;
            padding: 0.4em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 0 1em;
          }
          #delete-link:hover {
            background: #414141;
            color: white;
          }
          #postlist-link {
            font-size: 1.5em;
            color: #414141;
            text-decoration: none;
            padding: 0.2em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 0 1em;
          }
          #postlist-link:hover {
            background: #414141;
            color: white;
          }
      }
    }
}