#post {
    text-align: center;
    width: 100vw;
    #post-div {

    table{
        margin: auto;
        border-collapse: collapse;
        border-spacing: 0;
        width: 70vw;
    }
    
    table tr{
        border-bottom: solid 1px #eee;
        cursor: pointer;
    }
    
    table tr:hover{
        background-color: #d4f0fd;
    }

    table th{
        font-weight: 100;
        color: #414141;
        font-size: 1.8em;
    }

    table td{
        color: #414141;
        font-size: 1.5em;
        .post-a {
            text-decoration: none;
            div {
                color: #414141;
            }
        }
    }
    
    table th,table td{
        text-align: center;
        width: 25vw;
        padding: 3vh 0;
    }
        padding-top: 10vh;
        #post-link {
            #menu-bar{
                display: flex;
            }
            p {
                margin-top: 5vh;
                font-weight: bold;
                font-size: 3em;
                color: #414141;
            }
            #new-link {
                font-weight: bold;
                text-decoration: none;
                font-size: 1.5em;
                background: #00BE00;
                color:white;
                border-radius: 0.7em;
                padding:0.7em 1.5em;
                transition: 0.6s;
            }
            #new-link:hover {
                background: #90ee90;
                text-decoration: none;
            }
            margin-bottom: 10vh;
        }
        p {
            margin-bottom: 3vh;
        }
        .post-p {
            font-weight: bold;
            text-decoration: none;
            font-size: 1.5em;
            color: #414141;
        }
        .post-p:hover {
            text-decoration: underline;
        }

    }
}

#new {
    text-align: center;
    width: 100vw;
    #new-div {
        padding-top: 15vh;
        #new-content {
            #new-form {
                input[type='text']{
                    width: 30vw;
                    height: 4vh;
                }
                input[type='submit']{
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 1em;
                    padding:0.7em 2em;
                }
                #submit {
                    padding-top: 3vh;
                }
            }
        }
    }
}

#edit {
    text-align: center;
    width: 100vw;
    #edit-div {
        padding-top: 10vh;
        #edit-content {
            #edit-form {
                input[type='text']{
                    width: 30vw;
                    height: 4vh;
                }
                input[type='submit']{
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 1em;
                    padding:0.7em 2em;
                }
                #submit {
                    padding-top: 3vh;
                }
            }
        }
    }
}

#show {
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    #show-div {
        #show-content{
            p {
                font-size: 3em;
                font-weight: 600;
            }
            #show-p {
                font-weight: 300;
            }
            #link-list{
                padding-top: 3vh;
                .link-div {
                    display: inline-block;
                }
                #edit-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.7em 2em;
                }
                #delete-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #b22222;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.5em 2em;
                }
                #postlist-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #0000ff;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.7em 2em;
                }
            }
        }
        padding-top: 10vh;
            
    }
}