#post {
    text-align: center;
    width: 100vw;
    #post-div {
        .new-link-div {
            margin-top: 2vh;
        }
        #new-link {
            font-weight: 100;
            text-decoration: none;
            font-size: 3em;
            color: #d3d3d3;
        }
        #new-link:hover {
            color: #8e8eff;
        }
        table{
            margin: auto;
            border-collapse: collapse;
            border-spacing: 0;
            width: 70vw;
        }
        table tr{
            border-bottom: solid 1px #eee;
            cursor: pointer;
        }
        table tr:hover{
            background-color: #d4f0fd;
        }
        table th{
            font-weight: 100;
            color: #414141;
            font-size: 1.8em;
        }
        table td{
            color: #414141;
            font-size: 1.5em;
            .post-a {
                text-decoration: none;
                div {
                    color: #414141;
                }
            }
        }
        table th,table td{
            text-align: center;
            width: 25vw;
            padding: 3vh 0;
        }
        padding-top: 10vh;
        #post-link {
            p {
                margin-top: 5vh;
                font-weight: 100;
                font-size: 3em;
                color: #414141;
                letter-spacing: 0.5em;
            }
            margin-bottom: 10vh;
        }
        p {
            margin-bottom: 3vh;
        }
    }
}

#new {
    text-align: center;
    width: 100vw;
    #new-div {
        padding-top: 15vh;
        #new-content {
            #new-form {
                input[type='text']{
                    width: 30vw;
                    height: 4vh;
                }
                input[type='submit']{
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 1em;
                    padding:0.7em 2em;
                }
                #submit {
                    padding-top: 3vh;
                }
            }
        }
    }
}

#edit {
    text-align: center;
    width: 100vw;
    #edit-div {
        padding-top: 10vh;
        #edit-content {
            #edit-form {
                input[type='text']{
                    width: 30vw;
                    height: 4vh;
                }
                input[type='submit']{
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 1em;
                    padding:0.7em 2em;
                }
                #submit {
                    padding-top: 3vh;
                }
            }
        }
    }
}

#show {
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
    #show-div {
        #show-content{
            p {
                font-size: 3em;
                font-weight: 600;
            }
            #show-p {
                font-weight: 300;
            }
            #link-list{
                padding-top: 3vh;
                .link-div {
                    display: inline-block;
                }
                #edit-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #00BE00;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.7em 2em;
                }
                #delete-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #b22222;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.5em 2em;
                }
                #postlist-link {
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 1em;
                    background: #0000ff;
                    color:white;
                    border-radius: 0.5em;
                    padding:0.7em 2em;
                }
            }
        }
        padding-top: 10vh;
            
    }
}