#sprint_dashboard {
    display: flex;
    #sprint_left {
        position: sticky;
        top: 7vh;
        width: 18vw;
        height: 93vh;
        background-color: #adadff;
        li {
            font-size: 1.7em;
            color: #ffffff;
            letter-spacing: 0.1em;
            padding: 0;
            a {
                padding: 2.7vh 2vw;
                text-decoration: none;
                color: #ffffff;
                display: block;
            }
        }
        .sprint-left-li-right {
            padding: 2.7vh 2vw;
            text-align: right;
            .sprint-left-li-right-i {
                cursor: pointer;
            }
        }
        .sprint-left-li {
            cursor: pointer;
        }
        .sprint-left-li:hover {
            background-color: #f9f9ff;
            a {
                color: #adadff;
            }
        }
    }
    #sprint {
        text-align: center;
        width: 82vw;
        background-color: #f9f9ff;
        #sprint_header {
            height: 8vh;
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 7vh;
            background-color: #fff;
            border-bottom: 1px solid #f5f5f5;
            border: 0.1em solid #f5f5f5;
            p {
                padding: 2vh 2vw;
                font-size: 2em;
                color: #414141;
            }
            #project-members {
                margin-top: 2vh;
                width: 4vh;
                height: 4vh;
                border-radius: 50%;
            }
            .project-members-plus {
                width: 4vh;
                height: 4vh;
                border-radius: 50%;
                background-color: #dcdcdc;
                text-align:center;
                line-height: 4vh;
                margin: 2vh 0.5vw;
                padding: 0;
                cursor: pointer;
                font-size: 1.5em;
            }
            .project-members-search {
                margin: 1.7vh 0.5vw;
                padding: 0vh 1vw;
                border-radius: 1.5em;
                border: none;
                background-color: #f3f3f3;
                outline: none;
            }
            .project-members-setting {
                width: 4vh;
                height: 4vh;
                text-align:center;
                line-height: 4vh;
                margin: 2vh 0.5vw;
                padding: 0;
                cursor: pointer;
                font-size: 2em;
                color: #333333;
            }
            .flexbox {
                display: flex;
            }
        }
        .sprint-title {
            margin: 5vh;
            font-weight: 100;
            font-size: 3em;
            color: #414141;
            letter-spacing: 0.5em;
        }
        label {
            font-size: 1.5em;
            letter-spacing: 0.2em;
            color: #8e8eff;
        }
        #add_sprint {
            transition: 0.5s;
            font-size: 1.5em;
            color: #414141;
            text-decoration: none;
            padding: 0.4em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 1.5em 1em;
            cursor: pointer;
        }
        #add_sprint:hover {
            transition: 0.5s;
            background: #414141;
            color: white;
        }
        .delete-link {
            transition: 0.5s;
            -webkit-appearance: none;
            font-size: 1.2em;
            color: #414141;
            text-decoration: none;
            padding: 0.4em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 2vh 0;
            cursor: pointer;
        }
        .delete-link:hover {
            transition: 0.5s;
            background: #414141;
            color: white;
        }
        .table-div {
            display: flex;
            justify-content: center;
            margin-bottom: 10vh;
            .table-kpt {
                margin: 0 1vw;
            }
            table{
                border-collapse: collapse;
                border-spacing: 0;
                width: 25vw;
                tr{
                    border-bottom: solid 1px #eee;
                    cursor: pointer;
                }
                th{
                    font-weight: 100;
                    color: #414141;
                    font-size: 1.8em;
                }
                td{
                    transition: 0.4s;
                    color: #414141;
                    font-size: 1.5em;
                }
                td:hover{
                    transition: 0.4s;
                    background-color: #d4f0fd;
                }
                th, td{
                    text-align: center;
                    width: 25vw;
                    padding: 3vh 0;
                }
            }
            .sprint-a {
                font-weight: 100;
                text-decoration: none;
                color: #414141;
            }
            .new-link {
                transition: 0.4s;
                font-weight: 100;
                text-decoration: none;
                font-size: 3em;
                color: #d3d3d3;
            }
            .new-link:hover {
                transition: 0.4s;
                color: #8e8eff;
            }
        }
    }
}

#pie_chart {
    display: flex;
    flex-flow: wrap;
    div {
        padding-top: 4vh;
    }
}

@media screen and (max-width: 480px) {
    #pie_chart {
        display: block;
    }
}