#splint {
    text-align: center;
    width: 100vw;
    #splint-div {
        #add-splint {
            font-size: 1.5em;
            color: #414141;
            text-decoration: none;
            padding: 0.4em 1.5em;
            border: solid 1px #414141;
            border-radius: 3px;
            margin: 1.5em 1em;

        }
        #add-splint:hover {
            background: #414141;
            color: white;
        }
        #kpt-table{
            display: flex;
            justify-content: center;
            .new-link-div {
                margin-top: 2vh;
            }
            #new-link {
                font-weight: 100;
                text-decoration: none;
                font-size: 3em;
                color: #d3d3d3;
            }
            #new-link:hover {
                color: #8e8eff;
            }
        }
        div {
            margin: 0 2em;
        }
        table{
            margin: auto;
            border-collapse: collapse;
            border-spacing: 0;
            width: 25vw;
            tr{
                border-bottom: solid 1px #eee;
                cursor: pointer;
            }
            th{
                font-weight: 100;
                color: #414141;
                font-size: 1.8em;
            }
            td{
                color: #414141;
                font-size: 1.5em;
                .splint-a {
                    text-decoration: none;
                    div {
                        color: #414141;
                    }
                }
            }
            td:hover{
                background-color: #d4f0fd;
            }
            th, td{
                text-align: center;
                width: 25vw;
                padding: 3vh 0;
            }
        }
        padding-top: 10vh;
        #splint-link {
            p {
                margin-top: 5vh;
                font-weight: 100;
                font-size: 3em;
                color: #414141;
                letter-spacing: 0.5em;
            }
            margin-bottom: 10vh;
        }
        label {
            font-size: 1.5em;
            letter-spacing: 0.2em;
            margin-bottom: 4vh;
            color: #8e8eff;
        }
        .hidden_box {
            margin-bottom: 5vh;
        }
    }
}