<div id="header">
  <div><a href="/"><p>DONE</p></a></div>
  <% if session[:access_token] %>
    <div><%= render 'shared/menubar' %></div>
    <div id="header-right">
    <%= link_to 'Logout', logout_path, class: "header-link" %>
    <%= link_to 'Home', posts_path, class: "header-link" %>
    </div>
  <% end %>
</div>