<div id="header">
  <div><a href="/"><p>DONE</p></a></div>
  <% if session[:line_id] %>
    <div><%= render 'shared/menubar' %></div>
    <div id="header-right">
      <%= button_to 'Logout', line_logout_path, method: :delete, class: "header-link" %>
    </div>
  <% end %>
</div>